* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Changa One';
  font-weight: 500;
  transition: all 1s;
  background: black;
  background-size: cover;
  color: white;
  overflow: auto;
}

a {text-decoration: none;color: white;}
ul {list-style-type: circle;}

h1 {
  color: rgba(150, 150, 150, 0.45);
  border: none;
  border-top: 1px solid rgba(150, 150, 150, 0.45);
  border-bottom: 1px solid rgba(150, 150, 150, 0.45);
  padding: 5px;
  padding-bottom: 15px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

main {
  z-index: 2;
  position: absolute;
  background: transparent;
}

::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-track {background: linear-gradient(0deg, rgb(132, 0, 255) 0%, rgba(7, 0, 211, 1) 100%);border-radius: 10px;}

::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh black;
  border-radius: 10px;
  border: 4px solid transparent;
}

button {
  color: white;
  text-align: center;
  padding: 12px;
  padding-left: 17px;
  padding-right: 17px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  margin: 5px;
  border-radius: 25px;
  transition: all 0.5s;
  background-color: rgb(225, 140, 0);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

button:hover {background-color: rgba(255, 255, 255, 0.05);border: 1px solid rgba(255, 255, 255, 0.25);}
button:active {-webkit-transform: scale(1.1);transform: scale(1.1);}

footer {
  padding: 50px;
  border-radius: 25px 25px 0 0;
  background-color: rgba(51, 51, 51, 0.1);
  border: 1px solid rgba(132, 132, 132, 0.25);
  -webkit-backdrop-filter: saturate(200%) brightness(75%);
  backdrop-filter: saturate(200%) brightness(75%);
  box-shadow: 0px 0px 5px black;
  width: 97.5%;
  margin: auto;
  margin-top: 25px;
  transition: all 0.3s;
}

footer img:hover {-webkit-transform: scale(0.95);transform: scale(0.95); transition: all 0.3s;}

footer p {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff6c;
}

footer .img {
  width: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

footer .img:hover {-webkit-transform: translate(-50%, -50%) scale(0.95);transform: translate(-50%, -50%) scale(0.95);}

#blur {
  height: 100dvh;
  width: 100dvw;
  height: 100vh;
  width: 100vw;
  position: fixed;
  transition: all 1s;
  background: url('Assets/UI/bg-main.jpg');
  background-size: 100%;
  background-position: bottom;
  filter: blur(45px) brightness(75%) contrast(100%);
  z-index: 1;
}

#main {display: none; width: 100%;}

#logon {
  height: 100dvh;
  height: 100vh;
  top: 0;
  position: relative;
  text-align: center;
  background: transparent;
  transition: all 1s;
  opacity: 0;
  z-index: 1;
}

#logon-center {
  position: absolute;
  top: 50dvh;
  left: 50dvw;
  top: 50vh;
  left: 50vw;
  width: max-content;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#logon-center img {width: 150px;-webkit-filter: drop-shadow(0px 0px 5px black);filter: drop-shadow(0px 0px 5px black);}
#logon-center p {margin-top: -10px;margin-bottom: 15px; 
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

#myProgress {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(221, 221, 221, 0.15);
  border-radius: 10px;
}

#myBar {
  width: 1%;
  height: 10px;
  border-radius: 10px;
  background-color: #ffffffd5;
}

.header {
  height: 100dvh;
  height: 100vh;
  top: 0%;
  position: relative;
  text-align: center;
  transition: all 1.5s;
  opacity: 0;
  overflow: hidden;
}

.headerBg {
  height: 105dvh;
  height: 105vh;
  width: 100%;
  top: 0%;
  transition: all 1s;
  opacity: 0;
  position: absolute;
}

.headerBg img {width: 100%;height: 100%;}

#i-am-nj {
  position: absolute;
  top: 50dvh;
  left: 50dvw;
  top: 65vh;
  left: 50vw;
  width: 95%;
  -webkit-transform: translate(-50%, -50%) scale(1.09);
  transform: translate(-50%, -50%) scale(1.09);
  z-index: 1;
  opacity: 0;
  transition: all 1s;
}

#i-am-nj h1 {
  font-size: 45px;
  color: white;
  border: none;
  font-weight: 550;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

#i-am-nj p {
  padding: 10px;
  font-weight: 500;
  margin-top: -17.5px;

  margin-bottom: 17.5px;
}

#HeadBtnRes {padding: 12px 37px;}
#HeadBtnRes:hover {padding: 12px 57px;}

#get-started {
  height: 50px;
  width: 100px;
  background-color: transparent;
  border-radius: 35px;
  border: 2.5px solid white;
  -webkit-transform: rotate(90deg) scale(0.60);
  transform: rotate(90deg) scale(0.60);
}

#get-started-move {
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 7.5px;
  transition:  all 0.3s;
  height: 7.5px;
  background-color: orange;
  border-radius: 50%;
}

#Hero-navbar {
  overflow: visible;
  background: linear-gradient(180deg, rgb(0, 0, 0), transparent);
  transition: all 1s;
  width: 100%;
  padding: 30px;
  opacity: 0;
  z-index: 9999;
  top: -10%;
  position: fixed;
}

#Hero-navbar.scrolled{
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  box-shadow: 0px 0px 0px 1px rgba(132, 132, 132, 0.35);
  margin: 15px;
  backdrop-filter: blur(35px);
  width: calc(100% - 30px);
  padding: 7.5px 12.5px;
}

#Hero-navbar a {
  float: left;
  padding: 12px 17px;
  font-size: 18px;
  line-height: 25px;
  margin: 5px;
  border-radius: 15px;
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, 0);
}

#Hero-navbar a:hover {
  scale: 0.95;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(132, 132, 132, 0.25);
}

#Hero-navbar a:active {scale: 0.85;backdrop-filter: blur(25px);}
#Hero-navbar img {width: 175px;}
#Hero-navbar a.active, #nav-menu a.active {background-color: rgb(255, 140, 0);}
#Hero-navbar a.active:hover {background-color: rgba(255, 255, 255, 0.1);}
#Hero-navbar-right {float: right;margin-top: 5px}
#phone-right {float: right;display: none;}
.brix---hamburger-menu-wrapper {padding: 15px;transition: all 0.3s;}

.brix---hamburger-menu-bar-top-white {
  width: 44px;
  height: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.brix---hamburger-menu-bar-bottom-white {
  width: 34px;
  height: 4px;
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.3s;
}

#nav-menu {
  position: fixed;
  display: none;
  width: 97.5%;
  height: auto;
  top: -100%;
  left: 1.5%;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(132, 132, 132, 0.35);
  box-shadow: 0px 0px 5px black;
  padding: 20px;
  border-radius: 15px;
  z-index: 999;
  transition: all 0.75s ease-in-out;
  backdrop-filter: blur(35px);
  overflow: hidden;
}

#nav-menu h1 {
  margin-top: 30px;
  border: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
}

#nav-menu a {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  width: 100%;
  float: left;
  padding: 12px 17px;
  font-size: 18px;
  line-height: 25px;
  margin: 5px;
  border-radius: 15px;
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, 0);
}

#nav-menu a:hover {scale: 0.97;background-color: rgba(255, 255, 255, 0.1);}
#nav-menu a:active {border: 1px solid rgba(132, 132, 132, 0.25);}
#nav-menu a.active {margin-bottom: 30px;}

#nav-menu p {
  padding: 5px;
  font-size: 18px;
  padding-bottom: 10px;
}

#about-moreBtn {
  padding: 20px;
  margin-top: -25px;
  position: absolute;
  left: 50%;
  width: max-content;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  opacity: 0;
  color: white;
  transition: all 0.75s;
  font-weight: 400;
}

#scroll-indicator {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.3s;
}

#scroll-indicator:hover {transform: translateX(-50%) scale(1.1);}
#scroll-indicator:active {transform: translateX(-50%) scale(1);}
#scroll-indicator:hover #get-started-move {width: 10px; height: 10px;}
#scroll-indicator:active #get-started-move {top: 35%;}

.content {width: 100%;}

.about {
  position: relative;
  padding: 235px 50px;
  width: 100%;
  padding-bottom: 300px;
}

.about h1 {
  position: absolute;
  width: 39%;
  right: 14.5%;
  text-align: left;
  color: rgba(150, 150, 150, 0.65);
  -webkit-transform: translateY(-57.5px);
  font-size: 5rem;
  border: none;
  margin: 0;
  transform: translateY(-57.5px);
}

#about-tm {
  position: absolute;
  width: 40%;
  right: 12.25%;
  text-align: left;
  line-height: 2;
  font-weight: 300;
  top: auto;
  background-color: rgba(51, 51, 51, 0.1);
  -webkit-backdrop-filter: blur(2.5px) saturate(200%) brightness(75%);
  backdrop-filter: blur(2.5px) saturate(200%) brightness(75%);
  box-shadow: 0px 0px 5px black;
  -webkit-filter: drop-shadow(0px 0px 5px black);
  filter: drop-shadow(0px 0px 5px black);
  border: 1px solid rgba(132, 132, 132, 0.25);
  border-radius: 15px;
  padding: 1.5rem 2rem;
}

#stats-tm {font-size: 20px;filter: drop-shadow(0px 0px 5px black);}

.statCont {
  -webkit-backdrop-filter: blur(2.5px) saturate(200%) brightness(75%);
  backdrop-filter: blur(2.5px) saturate(200%) brightness(75%);
  box-shadow: 0px 0px 5px black;
  border: 1px solid rgba(132, 132, 132, 0.25);
  border-radius: 15px;
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
 
#about-tm h2{
  font-size: 2.5rem; 
  margin-top: -0.85rem;
  font-family: "Pacifico", cursive;
}

#about-tm p{  border-top: 1px solid #fee7d33b; padding-top: 10px; margin-bottom: 1rem;  font-family: "Josefin Sans", sans-serif;
font-weight: 500;}
#about-tm ul{padding-left: 1rem;   font-family: "Raleway", sans-serif; font-weight: 300;
}
#about-tm ul font{font-weight: 650;}
.reveal {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {-webkit-transform: translateY(0);transform: translateY(0);opacity: 1;}

.stats-container {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(221, 221, 221, 0.1);
  transition: all 0.5s;
}

.skills {
  width: 1%;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(221, 221, 221, 0.12);;
  font-size: 13px;
  padding: 17.5px;
  padding-left: 15px;
  transition: all 0.5s;
}

#stats {
  padding: 50px 30px;
  color: wheat;
  margin-top: 50px;
}

#stats h1 {
  margin: 15px;
  border: none;
  font-size: 5rem;
  z-index: 2;
  padding: 0;
}

#stats p {
  padding: 10px;
  margin-bottom: -45px;
  padding-top: 21px;
  display: flex;
  align-items: center;
  gap: 12.5px;
  padding-left: 15px;
}

.Art {width: 92.5%;}
.Coding {width: 60%;}
.Athletics {width: 50%;}
.Poetry {width: 80%;}

#works {
  padding: 30px;
  color: wheat;
  padding-bottom: 20px; 
}

#works p {padding: 10px;
  font-family: "Josefin Sans", sans-serif;
}

#works h4 {
  color: rgba(150, 150, 150, 0.75);
  padding: 20px;
  padding-bottom: 30px;
  font-size: 22.5px;
}

#codingH1 {
  border: none;
  font-size: 3.75rem;
  width: 50%;
  margin-bottom: 20px;
}

.profile-card {
  position: relative;
  width: 230px;
  background: rgba(51, 51, 51, 0.15);
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.656);
  transition: .3s ease;
  margin: 60px 35px;
  display: inline-block;
  border-radius: 15px;
  height: 260px;
  scale: 1.1;
}

.profile-card:hover {scale: 1.05;}
.profile-card:active {scale: 1;}

.profile-card .img {
  position: relative;
  width: 90%;
  height: 100%;
  transition: .6s;
  z-index: 99;
  transform: translateY(-70px);
}

.profile-card .img img{
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.img img {width: 75%;border-radius: 15px;box-shadow: 0 0 22px #3336;}

.caption {
  text-align: center;
  -webkit-transform: translateY(-120px) translateX(-7.5%);
  transform: translateY(-120px) translateX(-7.5%);
  background-color: #dddddd17;
  padding-top: 5px;
  margin-top: -20px;
  border-radius: 8.5px;
  width: 200px;
}

.caption h3 {
  border-bottom: 1px solid #cccccc59;
  padding-bottom: 5px;
  margin: 5px 15px;
}

.caption h3 a {
  font-size: 25px;
  font-weight: normal;
  color: orange;
  padding-bottom: 1.5px;
}

.caption p {
  font-size: 15px;
  color: rgb(190, 173, 255);
  margin-bottom: 10px;  line-height: 1.25;
  margin-top: -5px;
  font-weight: 300;
}

.social-links {
  -webkit-transform: translateY(-105px) translateX(-13%);
  transform: translateY(-105px) translateX(-13%);
  width: 230px;
}

.social-links a {
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 65px;
  padding-top: 8px;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: orange;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

.social-links a:hover {background-color: rgba(255, 255, 255, 0.05);border: 1px solid rgba(255, 255, 255, 0.25);}

#social-links {
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#social-links img {
  width: 36px;
  background-color: white;
  margin: 5px;
  border-radius: 8px;
}

#social-links a {padding: 2.5px;}
.copyright {width: 35%;}
#desk-footer {display: block;}
#phone-footer {display: none;}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  filter: drop-shadow(0px 0px 5px black);
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.3s;
}

.column img:hover{scale: 0.95;}

#my-self {position: absolute; top: 45%;}

.person {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: max-content;
}

@keyframes float {
  0% {
    -webkit-translate: 0 0;
    translate: 0 0;
  }
  50% {
    -webkit-translate: 0 -20px;
    translate: 0 -20px;
  }
  100% {
    -webkit-translate: 0, 0;
    translate: 0 0;
  }
}

.container {
  -webkit-tap-highlight-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  left: 51%;
  -webkit-transform: translateX(-37.5%) scale(0.95);
  transform: translateX(-37.5%) scale(0.95);
  width: 470px;
  height: 330px;
  animation: float 5s ease-in-out infinite;
}

.container:hover {-webkit-transform: translateX(-36%) scale(1);transform: translateX(-36%) scale(1);}

.circle{
  width: 100%;
  height: 100%;
  filter: blur(20px) drop-shadow(2px 4px 6px black);
  border-radius: 40%;
}

.pills{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: inline-table;
  top: 0;
  left: 0;
}

.pill{
  display: inline-table;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #cccccc25;
  border-radius: 10px;
  font-family: "Raleway", sans-serif; font-weight: 300;
  padding: 7.5px 15px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  margin: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.pill:hover{scale: 1.1;}
.pill:active{scale: 1;}

.context-menu {
  position: absolute;
  z-index: 99999999999999999999999999;
  width: 300px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
  border-radius: 9px;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  display: none;
  -webkit-transform: scale(0);
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.3s;
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  min-width: 150px;
  list-style: none;
  text-align: left;
}

.context-menu ul li {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
}

.context-menu ul li a {text-decoration: none;}
.context-menu ul li:hover {background-color: rgba(255, 255, 255, 0.25);scale: 0.98;}
.context-menu #contact-rightClick {background-color: rgb(255, 166, 0);border-radius: 10px;}
.context-menu #contact-rightClick:hover {background-color: rgba(255, 255, 255, 0.25);}
.context-menu p {color: rgba(255, 255, 255, 0.5);font-size: 14px;     font-family: "Josefin Sans", sans-serif;}
#hover-codes {display: block;}

.context-menu hr {
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

.hover-click-codes {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(255, 255, 0, 0.45);
  border-radius: 5px;
}

#poems {
  text-align: center;
  display: flex;
  gap: 1.5em;
}

.poems {
  line-height: 2;
  font-weight: 300;
  width: calc(100% / 3);
  background-color: rgba(51, 51, 51, 0.1);
  -webkit-backdrop-filter: saturate(200%) brightness(75%);
  backdrop-filter: saturate(200%) brightness(75%);
  box-shadow: 0px 0px 5px black;
  -webkit-filter: drop-shadow(0px 0px 5px black);
  filter: drop-shadow(0px 0px 5px black);
  border: 1px solid rgba(132, 132, 132, 0.25);
  border-radius: 15px;
  padding: 30px;
}

.poems h3 {
  border-bottom: 1px solid #cccccc59;
  font-family: "Pacifico", cursive;
  font-size: 2em;
  font-weight: normal;
  color: orange;
  padding-bottom: 7.5px;
  margin-bottom: 5px;
}

.poems p{font-weight: 400;}

.contact-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contact-btn {
  color: white;
  padding: 12px 17px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 15px;
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgb(255, 140, 0);
}

.contact-btn:hover {
  background-color: rgba(196, 196, 196, 0.15);
  border: 1px solid rgba(132, 132, 132, 0.25);
  padding: 12px 37px;
}

.contact-btn:active {background-color: rgba(196, 196, 196, 0.05);}


.art-modal{
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;
  -webkit-backdrop-filter: saturate(200%) brightness(75%) blur(45px);
  backdrop-filter: saturate(200%) brightness(75%)  blur(45px);
  z-index: 9999999999999999999;
  opacity: 0;
  pointer-events:none;
  overflow: hidden;
  overflow-y: scroll;
}

.art-modal::-webkit-scrollbar{display: none;}

.art-modal span{
  position: fixed;
  top: 12.5px;
  right: 12.5px;
  padding: 10px;
  transition: all 0.3s; 
  cursor: pointer;
}

.art-modal span:hover{scale: 0.95;}

.art-modal img{
  width: auto;
  height: 95%;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #dddddd27;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0px 0px 5px black);
  filter: drop-shadow(0px 0px 5px black);
  transition: all 0.3s;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1280px) {
  .container {left: 40%}
}

@media screen and (max-width: 1205px) {
  #my-self {display: none;}
  .about {padding: 190px 15px;padding-bottom: 0;}

  .about h1 {
    position: relative;
    width: 100%;
    right: auto;
    font-size: 4rem;
    text-align: center;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  #about-tm {
    position: relative;
    width: 100%;
    left: 0;
    padding: 30px;
    padding-right: 0;
  }
}

@media screen and (max-width: 1100px) {
  #about-tm {line-height: 1.75;}
}

@media screen and (max-width: 915px) {
  .contact-footer {width: 94%;}
  #desk-footer {display: none;}
  #phone-footer {display: block;}
  footer {width: 94%;}
  footer p {margin-top: 15px;}
  #social-links img {width: 30px;}

  footer .img {
    width: 225px;
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  #social-links {
    margin-top: 15px;
    width: max-content;
    position: relative;
    right: 0px;
    top: 0%;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media screen and (max-width: 865px) {
  #stats p {font-size: 16px;}
  #stats h1 {text-align: center;font-size: 4rem;}
  .skills span {position: absolute;right: 32.5px;}
  #codingH1 {font-size: 40px;width: 100%;margin-bottom: 0px;}
  #i-am-nj h1 {font-size: 40px;padding-left: 0;}
  #Hero-navbar {padding: 15px;}
  #Hero-navbar-right {display: none;}
  #navbar {padding: 15px;}
  #navbar-right {display: none;}
  #nav-menu {display: block;}
  #phone-right {float: right;display: block;}
  #about-tm p, ul li {width: 92.5%;text-align: justify;}
  .column {-ms-flex: 50%;flex: 50%;max-width: 50%;}
}

@media screen and (max-width: 815px) {
  #hover-codes {display: none;}
  #prime-code {margin-top: 85px;}
  .profile-card {margin: 50px 0px;}
  .poems {width: 100%;margin-bottom: 1.5em;}
  #poems {display: block;gap: 0;}
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .art-modal img{
    width: 97.5%;
    height: auto;
  }
}

@media screen and (max-width: 352px) {
  .contact-footer {display: grid;}
}
